.main-input {
  padding: 0 5px;
  background-color: #fff;
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 5px;
  border-radius: 5px;

  &::placeholder {
    font-size: 20px;
  }
}

@media (max-width: 730px) {
  .main-input {
    width: 350px;
    height: 50px;
  }
}

@media (min-width: 730px) and (max-width: 1100px) {
  .main-input {
    width: 400px;
    height: 50px;
  }
}
