.product-card {
  width: 350px;
  height: 300px;
  border: 1px solid #c4c4c4;
  margin: 0 0 10px 0;
  border-radius: 5px;
  transition: all 0.8s;

  &:hover {
    border: 1px solid #000;
  }

  img {
    width: 350px;
    height: 220px;
  }

  .product-information {
    display: flex;
    width: 350px;
    height: 70px;
    justify-content: space-around;
    align-items: center;

    span {
      font-size: 25px;
      font-weight: bold;
    }

    span#quantity-information {
      font-size: 20px;
    }
  }
}

@media (min-width: 1100px) {
  .product-card {
    width: 420px;
    height: 370px;

    img {
      width: 420px;
      height: 270px;
    }

    .product-information {
      width: 420px;
      height: 100px;

      span {
        font-size: 30px;
      }

      span#quantity-information {
        font-size: 25px;
      }
    }
  }
}
