.main-button {
  width: 400px;
  height: 50px;
  background: #009afc;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: all 1s;
  margin: 2px;

  &:hover {
    border: 1px solid #000;
    transition: all 1s;
    cursor: pointer;
  }
}

@media (max-width: 730px) {
  .main-button {
    width: 300px;
  }
}

@media (min-width: 730px) and (max-width: 1100px) {
  .main-button {
    width: 400px;
  }
}
